.hearder{
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 1px solid #e5e7eb;
    font-family: "Sansita", sans-serif;
}
.search-input:focus {
    outline: none;
    border-color: #2563eb;
}