.header {
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e5e7eb;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f1f5f9;
  padding: 6px 10px;
  border-radius: 10px;
}

.search-box i {
  font-size: 18px;
  color: #64748b;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  width: 250px;
  font-family: "Sansita", sans-serif;
}
