.app-container {
  display: flex;
  min-height: 100vh;
}

.main-container {
  flex: 1;
  padding: 20px;
  background-color: #f4f6f8;
  min-height: 100vh;
  font-family: "Sansita", sans-serif;
}

.main-container h1 {
  margin-bottom: 20px;
  color: #333;
}

