.app-container {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f6f8;
  min-height: 100vh;
  font-family: "Sansita", sans-serif;
}

.main-content h1 {
  margin-bottom: 20px;
  color: #333;
}

