body{
    padding: 0px;
    margin: 0;
    border-radius: 5%;
}
.sidebar{
    width: 220px;
    background-color: white;
    color: #1e293b;
    padding: 20px;
    font-family: "Sansita", sans-serif;
    font-size: 25px;
    margin-top: 0%;
}
.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  margin-top: 30px;
}

.logo i {
  font-size: 24px;
}

.sidebar ul{
    list-style-type: none;
}